*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: sans-serif;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;

}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border:1px solid white;
}

/* navbar box2 */

.nav-address {
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
}

.add-icon{
    display: flex;
    align-items: center;
}
.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 4px;
}

/*  box3 nav-search */

.nav-search{
    display: flex;
    width: 620px;
    height: 40px;
    background-color: #febd68;
    border-radius: 6px;
    justify-content: space-evenly;
}

.nav-search:hover{
    border: 2px solid orange;
    border-radius: 6px;
}

.search-select{
    width: 50px;
    /* padding: 5px; */
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #E6E6E6;
    color: #0F1111;
    text-align: center;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    color: #0f1111;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* nav-lang box3 */
.nav-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
}

.lang-select{
    background-color: #0f1111;
    color: white;
    font-weight: 800;
    border: none;
    font-size: 1rem;
}

/* nav-SignIn box4 */

.nav-hlo{
    font-size: 0.85rem;
    font-weight: 500;
}

.nav-acc {
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #0f1111;
    color: white;
    border: none;
}

.nav-orders {
    font-size: 0.9rem;
    font-weight: 700;
}

/* nav-cart box4 */

.nav-cart{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 4px;
}

.nav-cart i{
    font-size: 30px;
}

.nav-cart p{
    font-size: 0.9rem;
    font-weight: 700;
}

/* panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.panel-all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-all p{
    margin-left: 4px;
}

.panel-ops{
    display: flex;
    width: 90%;
    font-size: 0.9rem;
    font-weight: 600;
    gap: 22px;
}

/* hero section */

.hero-section{
    background-image: url("hero_image.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    width: 90vw;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
    text-decoration: none;
}

/* footer */

footer{
    margin-top: 30px;
}

.foot-panel1{
    background-color: #37435a;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;

}

.foot-panel2 ul{
    margin-top: 20px;
}

.foot-panel2 ul p{
    font-size: 1rem;
    font-weight: 700;
}

.foot-panel2 ul a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;

}


.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.8rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.pages a{
    color: white;
    text-decoration: none;
}

.copyright{
    padding-top: 5px;
}